body {
    background-color: #9ba6a5;
}

h2 {
    padding: 15px;
    line-height: 1.5;
    letter-spacing: 3px;
}

li {
    list-style: none;
}

span {
    padding: 20px;
    font-size: 25px;
    line-height: 2.5;
    letter-spacing: 2px;
    text-transform: capitalize;
    font-weight: 500;
}

.to-do {
    background-color: rgb(161, 167, 211, 0.5);
    width: 600px;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.todoText {
    font-size: 25px;
    line-height: 1.5px;
    letter-spacing: 3px;
    margin: 15px;
}

.add-item {
    font-size: 25px;
    border-radius: 20px;
}