h1 {
    margin: 0;
    letter-spacing: 10px;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
}

h2 {
    font-size: 30px;
    padding-bottom: 250px;
}

img {
    width: 86%;
}

.tribute-intro {
    background: #DBD5C8;
}

.tribute-badge {
    text-align: center;
    margin-top: 300px;
    letter-spacing: 10px;
}

.quote {
    background-image: linear-gradient(rgba(130, 126, 126, 0.6),
            rgba(121, 117, 117, 0.6)),
        url(Plato_Aristotle.jpg);

}

.quote-badge {
    letter-spacing: 10px;
    padding-top: 60px;
    margin-left: 30px;
}